<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="top">
        <div class="search">
            <input type="text" name="search" id="search">
            <button type="submit">查询订单</button>
        </div>
        <div class="trun">
            <a href="#">返回住房管理</a>
            <a href="#">个人中心</a>
        </div>
    </div>
    <div>
        {% for order in orderlist %}
        <div>

        </div>
         {% end for %}
    </div>
    <div>
        {% for page in range(ordercount//5) %}
    </div>

</body>
</html>